# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# IDE
.vscode/
.idea/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
venv_app/
